/*-------------------------------------
 Base Settings
-------------------------------------*/
html {
	font-size: 62.5%;
}
body {
	color: $color-a;
	font-size: $font-size-base;
	font-family: $meiryoFont;
	line-height: 1.3;
	letter-spacing: 1px;
	min-width: $container-main;
	-webkit-text-size-adjust: 100%;
}
a {
	color: inherit;
	text-decoration: none;
}
b {
	font-weight: bold;
}
// For using as icon.
i {
	display: inline-block;
}
em {
	font-style: normal;
}
img {
	vertical-align: bottom;
}

.wrapper {
	min-width: $container-main;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.container {width: $container-main;}
.container-sub1 {width: $container-sub1;}
.container-sub2 {width: $container-sub2;}
.container-sub3 {width: $container-sub3;}
.container-sub4 {width: $container-sub4;}
.container-sub5 {width: $container-sub5;}
.container,
.container-sub1,
.container-sub2,
.container-sub3,
.container-sub4,
.container-sub5 {margin: 0 auto;}
