/*------------------------------
	WordPress Native Styles
------------------------------*/
p {
	display: block;
	margin: 1em 0;
}
strong { font-weight: bold; }
em { font-style: italic; }
blockquote {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 40px;
	-webkit-margin-end: 40px;
}
.aligncenter {
	display: block;
	margin: 0 auto;
}
.alignright { float: right; }
.alignleft { float: left; }
// .clearfix {
//	 overflow: hidden;
//	 zoom: 1;
// }
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
	max-width: 100%;
}
img { max-width: 100%; }
