//-------------------------------------
// import files
//-------------------------------------
@import "reset";
@import "variables/general";
@import "variables/pc";
@import "helper";
@import "mixin";
@import "base";



/*-------------------------------------
	variables
-------------------------------------*/



/*-------------------------------------
	General Purpose
-------------------------------------*/
select, button, input, textarea {
	// border: 1px solid #818181;
	background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 200%;
}
h2 {
	font-size: 180%;
}
h3 {
	font-size: 160%;
}
h4 {
	font-size: 140%;
}
h5 {
	font-size: 120%;
}
h6 {
	font-size: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

iframe, object, video, embed {
	max-width: 100%;
}

.sp {
	display: none !important;
}

.opac {
	&:hover {
		opacity: 0.7;
	}
}

body {
	// background-color: #fee;
}



/* --------------------
	bxslider reset
-------------------- */
.main-visual .bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	left: 0;
	background: transparent;
}



/* --------------------
	parts
-------------------- */





/*-------------------------------------
	Characteristic
-------------------------------------*/

body {
	// background-color: #fee;
}

.contents {
	min-height: 500px;
}



.header {
	padding: 20px 0;
}

.gnav {
	margin-top: 20px;
	.menu-items {
		@extend .clearfix;
		.menu-item {
			float: left;
			margin-left: 20px;
			&:first-child {
				margin-left: 0;
			}
		} // menu-item
	} // menu-items
} // gnav

.bnav {
	margin-top: 20px;
	.breadcrumb-items {
		@extend .clearfix;
		.breadcrumb-item {
			float: left;
			margin-left: 10px;
			font-size: 12px;
			&:before {
				content: '>';
				margin-right: 10px;
			}
			&:first-child {
				margin-left: 0;
				&:before {
					content: none;
				}
			}
		} // breadcrumb-item
	} // breadcrumb-items
} // bnav


.footer {
	padding: 40px 0;
	text-align: center;
	color: white;
	background-color: black;
}




















