/*-------------------------------------
 Base Settings
-------------------------------------*/
// 980px以上
html {
  // font-size: 62.5%; // 1.2rem ->
  font-size: 0.195%*640;
}
// 800px 〜 979px
// @media screen and(max-width: 979px) {
//  html {
//    font-size: 0.195%*979; // 1.2rem -> 37px
//  }
// }
// // 737px 〜 799px
// @media screen and(max-width: 799px) {
//  html {
//    font-size: 0.195%*799; // 1.2rem -> 30.4px
//  }
// }
// 668px 〜 736px（iphone6 plusヨコ相当）
// @media screen and(max-width: 736px) {
//  html {
//    font-size: 0.195%*673; // 1.2rem -> 28px
//  }
// }
// 569px 〜 667px（iphone6ヨコ相当）
@media screen and(max-width: 667px) {
  html {
    font-size: 0.195%*667; // 1.2rem -> 25.3px
  }
}
// 415px 〜 568px（iphone5ヨコ相当）
@media screen and(max-width: 568px) {
  html {
    font-size: 0.195%*568; // 1.2rem -> 21.6px
  }
}
// 376px 〜 414px（iphone6 plusタテ相当）
@media screen and(max-width: 414px) {
  html {
    font-size: 0.195%*414; // 1.2rem -> 17.3px
  }
}
// 321px 〜 375px（iphone6タテ相当）
@media screen and(max-width: 375px) {
  html {
    font-size: 0.195%*375; // 1.2rem -> 14.25px
  }
}
// 〜 320px（iphone5タテ相当）
@media screen and(max-width: 320px) {
  html {
    font-size: 62.5%; // 1.2rem -> 12px
    // 1px あたり 0.195%
  }
}
body {
  color: $color-a;
  font-size: $font-size-base;
  // font-family: $meiryoFont;
  font-family: $gothicFont;
  line-height: 1.5;
  // letter-spacing: 1px;
  min-width: $container-main;
  -webkit-text-size-adjust: 100%;
  // -webkit-font-smoothing:antialiased;
}
a {
  color: inherit;
  text-decoration: none;
}
b {
  font-weight: bold;
}
// For using as icon.
i {
  display: inline-block;
}
em {
  font-style: normal;
}
img {
  vertical-align: bottom;
}

.wrapper {
  min-width: $container-main;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.container {width: $container-main;}
.container-sub1 {width: $container-sub1;}
.container-sub2 {width: $container-sub2;}
.container-sub3 {width: $container-sub3;}
.container-sub4 {width: $container-sub4;}
.container-sub5 {width: $container-sub5;}
.container,
.container-sub1,
.container-sub2,
.container-sub3,
.container-sub4,
.container-sub5 {margin: 0 auto;}
