//-------------------------------------
// import files
//-------------------------------------
@import "reset";
@import "variables/general";
@import "variables/sp";
@import "helper";
@import "mixin";
@import "base";



/*-------------------------------------
	variables
-------------------------------------*/



/*-------------------------------------
  General Purpose
-------------------------------------*/
select, button, input, textarea {
	// border: 1px solid #818181;
	background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 200%;
}
h2 {
	font-size: 180%;
}
h3 {
	font-size: 160%;
}
h4 {
	font-size: 140%;
}
h5 {
	font-size: 120%;
}
h6 {
	font-size: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

iframe, object, video, embed {
	max-width: 100%;
}

.pc {
	display: none !important;
}


body {
	// background-color: #efe;
}


/* --------------------
	bxslider reset
-------------------- */
.main-visual .bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	left: 0;
	background: transparent;
}



/* --------------------
	parts
-------------------- */








